<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=no">
    <link rel="stylesheet" href="estilobienvenido.css">
    <title>Bienvenido</title>
</head>
<body>
    <header>
            <img src="../staticimage/colorful-illustration-video-games-black-background-text-logo-110505-wallhere.com.jpg" alt="pacman"/>

    </header>
    <div id="cajabienvenida">
        <h1>Bienvenido a streamgame</h1>

    </div>



    <footer>
<div id="btnempezar"><a href="Index.html">
        Press Start
    </a></div>
            <img src="../staticimage/single-player-portada-articulo-startvideojuegos.png" alt="player1"/>

    </footer>
</body>
</html>