<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Clientes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1> BASE DE DATOS</h1>
        <div th:if="${clientesDB != null and !clientesDB.empty}">
        <table border ="1">
            <tr>
                <td>NOMBRE</td>
                <td>APELLIDO</td>
                <td>CORREO</td>
                <td>TELEFONO</td>
            </tr>
            <tr th:each="item : ${clientesDB}">
                <td th:text="${item.nombre}"></td>
                <td th:text="${item.apellidos}"></td>
                <td th:text="${item.correo}"></td>
                <td th:text="${item.telefono}"></td>
            </tr>
        </table>
        </div>
        <div th:if="${clientesDB == null and clientesDB.empty}">
            la lista esta vacia
        </div>
    </body>
</html>
