<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Juegos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1> BASE DE DATOS JUEGOS</h1>
        <!-- comment --><div th:if="${juegosDB != null and !juegosDB.empty}">
        <table border ="1">
            <tr>
                <td>NOMBRE DEL JUEGO</td>
                <td>CATEGORIA</td>
                <td>CANTIDAD EN STOCK</td>
                
            </tr>
            <tr th:each="item : ${juegosDB}">
                <td th:text="${item.nombreJuego}"></td>
                <td th:text="${item.categoria}"></td>
                <td th:text="${item.cantidad}"></td>
                
            </tr>
        </table>
        </div>
        <div th:if="${juegosDB == null and juegosDB.empty}">
            la lista esta vacia
        </div>
    </body>
</html>
