<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Nuevo juego</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Juegos</h2>
        <br>
       
        <form th:action="@{/guardarJuego}"
              method="post"
              th:object="${juego}">
            <input type="hidden" name ="idJuego" th:field="*{idJuego}"/>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" th:field="*{nombre}">
            <br>
            <label for="precio">Precio</label>
            <input type="text" name="precio" th:field="*{precio}">
            <br>
            <label for="disponible">Disponible</label>
            <input type="text" name="disponible" th:field="*{disponible}">
           <br>
            <input type="submit" name="guardar"  value="Guardar"/>
        </form>
    </body>
</html>
